/* AssessmentCard.module.css */

.card {
  margin-bottom: 10px;
  width: 400px; /* Set a fixed width for the card */
}

.title {
  font-size: 1.2em;
  font-weight: bold;
}

.status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button {
  width: 100%;
  text-align: center;
}

.complete {
  color: green;
}
